*{
	margin: 0;
	padding: 0;
}
.bodyer{
	width: 1000px;
	margin:0 auto;

}
.main-nav{
	width: 100%;
	height : 53px;
}
.main-nav > a{
	float : left;
	width: 118px;
	height: 49px;
	border-bottom : 4px solid #EDEDED;
	line-height : 49px;
	color : black;
}

.main-nav > a:hover{
	border-bottom: 4px solid #25292E;
}

.main-nav > .main-nav-center{
	padding-right : 43px;
	text-align: center;
}

.main-nav > .main-nav-last{
	text-align : center;
}

.main-nav > .form-group{
	position : relative;
	float : left;
	width : 260px;
	height: 49px;
	border-bottom : 4px solid #EDEDED;
}

.form-group input{
	position : absolute;
	width: 190px;
	height: 30px;
	bottom : 8px;
	border : 0px;
	outline: none;
}

.form-group button{
	outline : none;
	position : absolute;
	border : 0;
	bottom : 14px;
	right : 0px;
	width: 35px;
	height: 22px;
	background-image: url("./../images/search.png");
	background-size: 100% 100%;
}

/*       良仓>商品       */
.options{
	height: 35px;
	
}
.options>li{
	float: left;
	padding: 10px 0 5px 0;
	line-height: 20px;
	font-size: 14px;
	color: #666;
}
.options>.arrow{
	color: #bfbfbf;
	padding:10px 7px 5px 7px;
}
/*          新品列表             */
.osm_bar{
	margin-top: 10px;
    width: 100%;
    position: relative;
    height: 140px;
}
.new_product{
	width: 840px;
	float: left;
	border-bottom: 1px solid #ededed;
}

.new_product>li{
	margin: 10px 0 -1px 0;
	width: 64px;
	height: 25px;
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	padding:6px 20px 5px 0;
	float: left;
}
.new_product>li>a{
	width: 64px;
	color: #333333;
	display: block;
}
#new_products{
    background: url(../images/icon.png?v1503) no-repeat;
    background-position: -173px -584px;
    text-align: right;	    
}
/*  价格筛选*/
.screening{
	width: 70px;
	height: 24px;
	padding:7px 0 5px 90px;
	border-bottom: 1px solid #ededed;
	float: right;
	margin-top: 10px;
	font-size:14px ;
	cursor:pointer;
	position: relative;
}

.triangles{
	float: right;
	margin-top:6px;
	width:10px;
    height:7px;
    background:url(../images/icon.png?v1503) no-repeat -188px -392px;
}
.screening:hover .triangles{
	-moz-transform:rotate(180deg);   
 	-webkit-transform:rotate(180deg);  
	transform:rotate(180deg);  
}
/* 价格区间    */
.prices{
	width: 95px;
	position: absolute;
	left: 64px;
	top: 37px;
	border: 1px solid #ededed;
   display: none;
}
.screening:hover .prices{
	display: block;
	z-index: 99;
}
.prices>li>a{
	display: block;
	padding: 0px 10px;
    width: 75px;
    height: 39px;
    color: #666;
    border-bottom: 1px solid #ededed;
    line-height: 39px;
/*    vertical-align: middle;*/
    text-align: left;
     background: #fff;
}
.prices>li>a:hover{
	background-color: #323232;
	color: #fff;
}

#last_one{
	border-bottom:0;
}
.change_color{
	 color: #fff;
	  background: #666;
}
/*    图片部分     */
.our_shop{
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}
.our_shop>li{
	width: 316px;
    height: 366px;
    margin-bottom: 30px;
    margin-left: 26px;
    float: left;
}
.first{
	margin-left: 0px;
}
#firsts{
	margin-left: 0px;
}
/* 商品图片   */
.commodity_picture,.big_graph{
	width: 316px;
	height: 316px;
	
}
.commodity_picture{
	position: relative;
}
/*    图片下面部分     */
.bar{
	width: 100%;
    height: 40px;
    margin-top: 10px;
}
.brands{
	float: left;
	width: 216px;
	height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #878787;
    line-height: 40px;
}
.insets{
	width: 34px;
	height: 34px;
	padding: 0 6px 6px 0;
	margin-right: 10px;
	 vertical-align: middle;
}
.heart_shaped{
	float: right;
	height: 40px;
	width: 40px;
	background: url(../images/heart_gray20_18.png) no-repeat right center;
}
/*       图片阴影部分          */
.instruction{
	position: absolute;
	display: none;
	width: 316px;
	height: 316px;
	left: 0;
	top: 0;
	background:rgba(0,0,0,0.6);
	
}
.commodity_picture:hover .instruction{
	display: block;
}
.popular-price{
	color : #0C6EBA;
	font-size : 22px;
	font-weight : 800;
	font-style : italic;
	margin-top : 20px;
	margin-left: 20px;
}

.popular-header{
	color : white;
	font-weight : 700;
	font-size : 14px;
	margin-top : 100px;
	text-align : center;
}

.popular-intro{
	color : white;
	font-size : 12px;
	margin : auto;
	width : 240px;
	text-align : center;
	margin-top : 15px;
}
/*       第几页         */
.pager{
	width: 100%;
    height: 30px;
    text-align: right;
    vertical-align: middle;
    padding-top: 40px;
   
}
.pager>a,.pager>p{
	display: inline-block;
	font-size: 14px;
	 color: #4F4F4F;
}

.checked{
	padding: 0px 5px 0px 5px;
	cursor: pointer;
}
.next_page{
	width: 59px;
    height: 17px;
    border:1px solid #ccc;
    margin-right: 18px;
    text-align: center;
    line-height: 17px;
    background: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
    border-radius: 4px;
}
.Jump_to{
	border-left: 1px solid #4f4f99;
	padding:0 10px 0 28px;
}
.pager_number{
	width: 30px;
	resize: none;
    outline: none;
	border: 1px solid #98B5D5;
	margin-right: 10px;
}
.confirm{
	width: 41px;
    height: 19px;
    border-radius: 4px;
    background: #8c8c8d;
    text-align: center;
    line-height: 19px;
}
/*         良仓商店         */
.main-bottom{
	width : 100%;
	height : 243px;
	background-color: #FBFDFE;
	border-top : 2px solid #F5F5F5;
}

.main-bottom  a{
	font-size : 14px;
	color : #5E5E5E;
	font-weight : 800;
	letter-spacing: 1px;
}

.main-bottom img{
	display : inline-block;
	margin-right : 10px;
}

.bottom-center{
	width: 245px;
	height: 32px;
	margin : 0 auto;
	margin-top : 40px;
}

.bottom-bottom{
	width: 1000px;
	height : 70px;
	margin : auto;
}

.bottom-item{
	margin : 0px 25px;
	width : 200px;
	height : 100%;
	float : left;
}

.top-45{
	margin-top : 45px;
}
.bottom-item>img,
.bottom-item>p,
.bottom-item>span{
	float : left;
}

.bottom-item>p{
	margin-top: 16px;
	font-size: 13px;
	color : black;
}

.bottom-item>span{
	font-size : 12px;
	color : #D8D1CB;
}
/*  底部   */
.footer{
	width: 100%;
	min-width: 1000px;
	height: 222px;
	background: #25292e;
	color: #5c5c5c;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
/*上部*/
.food_top{
	width: 100%;
	height: 44px;
	padding-top: 40px;
}
/*   左   */
.iphone{
	background: url(../images/icon.png?v1503) no-repeat -175px 0;
	position: relative;
	float: left;
	width: 194px;
	height: 44px;
	display: block;
}
.iphone:hover{
	color: #aaa;
}
.iphone:hover .qr_code{
	display: block;
}
.iphone>p{
	width: 136px;
	margin-left:60px ;
	line-height: 18px;
}
.download{
	margin-top: 7px;
}
.qr_code{
	position: absolute;
	background: #fff;
	left: 0;
	top: -195px;
	width: 240px;
	height: 155px;
	display: none;
}

.code_left{
	width: 98px;
	height: 95px;
	float: left;
	border-right: 1px solid #d9d9d9;
	padding-right:22px ;
	background: url(../images/icon.png?v1503) no-repeat -99px -47px ;
}
.code_right{
	width: 98px;
	height: 95px;
	float: right;
	background: url(../images/icon.png?v1503)no-repeat 0 -47px ;
}
.downloads{
	width: 240px;
	height: 80px;
	font-size: 14px;
	color: #5c5c5c;
}
.p_left{
	float: left;
	padding-left: 5px;
	line-height: 60px;
}
.p_right{
	float: right;
	padding-right:5px ;
	line-height: 60px;
}
/*      右      */
.procedure{
	float: right;
	width: 150px;
	height: 30px;
}
.procedure>ul>li{
	width: 18px;
	height: 30px;
	 margin-left: 27px;
	 float: right;
	
}
.procedure>ul>li>a{
	display: block;	
	height: 20px;
}
.bean{
	width: 18px;
	background: url(../images/icon.png?v1503) no-repeat -129px 0;
}
.bean:hover{
	background: url(../images/icon.png?v1503) no-repeat -129px -25px;
}
.sina{
	width: 23px;
	background: url(../images/icon.png?v1503) no-repeat -150px 0;
}
.sina:hover{
	background: url(../images/icon.png?v1503) no-repeat -150px -23px;
}
.wechat{
	 position: relative;
	width: 26px;
	background: url(../images/icon.png?v1503) no-repeat -100px 0;
}
.wechat:hover{
	background: url(../images/icon.png?v1503) no-repeat -100px -23px;
}
.wechat:hover .wechat_code{
	display: block;
}
.wechat_code{
	width: 145px;
    height: 148px;
    position: absolute;
    top: -188px;
    left: -65px;
    background: url(../images/icon.png?v1503) no-repeat 0 -148px #fff;
    display: none;
}
/*       下      */
.foot_button{
	width: 800px;
	height: 108px;
	margin-top: 29px;
	font-size: 12px;
}
.toplink {
    margin-bottom:9px;
}
.toplink>a{
	display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 8px 0 10px;
    color: #5c5c5c;
    border-right: 1px solid #5c5c5c;
}
#last{
	border-right:0;
}
.foot_button>p{
    letter-spacing: 3px;
}
