img{
	cursor : pointer;
}

.main-nav{
	position : fixed;
	background-color: white;
	top : 56px;
	z-index : 1000;
}

.blank{
	width : 100%;
	height : 53px;
	z-index : -10;
}

.nav-blank{
	position : relative;
	display : block;
	width : 100%;
	height : 56px;
}

.nav{
	position : fixed;
	top : 0px;
	z-index : 10000;
}

/* 开始下拉栏的添加 */
.nav-slide{
	position : fixed;
	top : 109px;
	width : 1000px;
	height : 0px;
	margin-left : 132px;
	background-color : white;
	z-index : 10000;
	overflow: hidden;
}

.nav-slide-left{
	width: 730px;
	height: 400px;
	float : left;
}

.nav-slide-item{
	float : left;
	width : 40px;
	height: 55px;
	margin : 35px 70px 0px 0px;
}

.nav-slide-item>img{
	float : left;
	width : 40px;
	height : 40px;
}
.nav-slide-item>h3{
	float : left;
	font-size : 13px;
	font-weight : 600;
	margin-left : 7px;
}

.nav-slide-right{
	float : left;
	width : 260px;
	height: 290px;
	margin-left : 10px;
}

.nav-slide-right > img{
	width: 230px;
	height: 230px;
	margin-top : 40px;
}

.nav-slide-right >p{
	font-size : 14px;
	margin-top : 15px;
	letter-spacing: 0.2em;
}

.nav-slide-bottom{
	clear : both;
	float : left;
	margin-top : 20px;
}

.nav-slide-bottom > a{
	float : left;
	color : #666;
	float : left;
	margin : 0 30px;
	font-size : 14px;
}

/* 追加购物车内容 */
.nav .chart:hover .chart-wrapper{
	display : block;
}

.chart-wrapper{
	display : none;
	position : absolute;
	width : 320px;
	height : auto;
	overflow : hidden;
	left : -128px;
}

.slide-1{
	position : relative;
	padding : 0px 20px;
	position : relative;
	width : 280px;
	height : 70px;
	background-color : #292F34;
	z-index : 100;
}

.slide-3{
	position : relative;
	padding : 0px 10px;
	position : relative;
	width : 300px;
	height : 75px;
	padding-top : 10px;
	background-color : #292F34;
	z-index : 100;
}

.slide-3-inner{
	width : 300px;
	height : 75px;
	position : relative;
	border-bottom: 1px solid #3F4449;
}

.slide-3 img{
	width : 62px;
	height : 62px;
	float : left;
}

.nav-slide-text {
	float : left;
	margin-left: 10px;
}

.slide-3 p{
	color : #E0DACB;
	line-height: 21px !important;
	font-size : 12px;
	letter-spacing: 1.5px;
	width : 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.slide-3 span{
	float : right;
	color : #E0DACB;
	line-height: 12px !important;
	float : right;
	font-size : 12px;
	margin-top : 45px;
}

.temp-font-grey{
	color : grey !important;
}

.slide-1 > p{
	line-height : 70px;
	text-align : center;
	color : #CCCCCC;
}

.slide-2{
	position : relative;
	z-index : 100;
	width :  320px;
	height : 50px;
	color : white;
	background-color: #7DBFDE;
}

.slide-2 > p{
	line-height : 50px;
	text-align : center;
	color : white;
	font-size : 13px;
	font-weight : 500;
}

/* 给用户添加头像，名字的css */
.myTouxiang{
	display : block;
	margin-top : 13px !important;
	width : 30px !important;
	height: 30px !important;
	border-radius: 50%;
	background-image: url("./../images/defaultFace.png");
	background-repeat :no-repeat;
	background-size: 100% 100%;
	z-index : 100000000;
	background-color: ;
}