*{
	margin : 0;
	padding : 0;
	color : #F5F5F5;

}

input{
	outline : 0;
	border : 0;
	background-color: #CBCBCB;
}

html,
body,
.app,
.wrapper{
	width : 100%;
	height : 1000px;
}

.app{
	overflow: hidden;
	background-color: #999999;
}

.header{
	width: 228px;
	height: 93px;
	margin : auto;
	margin-top : 190px;
	margin-bottom: 55px;
}

.center,
.theForm{
	width : 100%;
	height : auto;
}

.form-group{
	width : 530px;
	height : 50px;
	margin : 10px 0px;
	margin-left: 360px;
}

.form-group > input{
	height : 100%;
}

.form-group > label{
	font-weight: 700;
	font-size: 14px;
	width: 90px;
	display : inline-block;
}

.group1 > input{
	width : 298px;
}

.group2 > input{
	width : 222px;
}

.group2 > img{
	margin
}