<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel = "icon" href="./../images/favicon.jpg">
	<link rel="stylesheet" type="text/css" href="./../css/common.css">
	<link rel="stylesheet" type="text/css" href="./../css/mainpage.css">
	<title>良仓</title>
</head>
<body>
	<div class="app">
		<div class="wrapper">
			<div class="nav">
				<div class="nav-head"></div>
				<a href="#">登陆</a>
				<a href="#">注册</a>
				<span>|</span>
				<a href="#">购物车</a>
				<span>|</span>
				<a href="#">消息</a>
				<span>|</span>
				<a href="#">添加良品</a>
			</div>
		</div>
	</div>
</body>
</html>