<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel = "icon" href="./../images/favicon.jpg">
	<link rel="stylesheet" type="text/css" href="./../css/common.css">
	<link rel="stylesheet" type="text/css" href="./../css/mainpage.css">
	<!--改动区域-->
	<link rel="stylesheet" type="text/css" href="./../css/newTemplate-bottom.css">
	<link rel="stylesheet" type="text/css" href="./../css/newTemplate.css">
	<!--改动完毕-->
	<title>良仓</title>
</head>
<body>
	<div class="app">
		<div class="wrapper">
			<!--第一次整合吸顶效果-->
			<div class="nav-blank"></div>
			<!--整合完毕-->
			<div class="nav">
				<div class="nav-head"></div>
				<div class="nav-right">
					<!--改英文的地方-->
					<a href="login.html" class = "nav-login">登陆</a>
					<!--改英文的地方-->
					<a href="register.html" class = "nav-login">注册</a>
					<!--第三次网页修改-->
						<a href="" class = "myTouxiang"></a>
						<a href="" class = "myAccount">123456</a>
					<!--第三次网页修改结束-->
					<span>|</span>
					<a href="#" class = "chart">购物车
						<!-- 第二次改动内容 -->
						<div class="chart-wrapper">
						</div>
						<!-- 第二次改动完毕 -->
					</a>
					<span>|</span>
					<a href="#" class = "message">消息
						<ul>
							<li>
							<span>动态</span><span class = "nav-span2">0</span></li>
							<li><span>评论</span><span class = "nav-span2">0</span></li>
							<li><span>私信</span><span class = "nav-span2">0</span></li>
							<li><span>粉丝</span><span class = "nav-span2">0</span></li>
							<li><span>喜欢</span><span class = "nav-span2">0</span></li>
							<li><span>通知</span><span class = "nav-span2">0</span></li>
						</ul>
					</a>
					<span>|</span>
					<a href="#">添加良品</a>
				</div>
			</div>
			<!--新加入的nav下拉栏-->
			<div class="nav-slide">
				<div class="nav-slide-left">
				</div>
				<div class="nav-slide-right">
					<img src="./../images/nav/nav-slide-right.jpg">
					<p>新视线：<span>2017年7月刊</span></p>
				</div>
				<div class="nav-slide-bottom">
					<a href="#">查看所有品牌></a>
					<a href="#">最新到货></a>
				</div>	
			</div>

			<!-- nav下拉栏添加完毕-->
				
			<div class="main">
				<div class="main-nav">
					<!--改英文的地方-->
					<a href="index.html">首页</a>
					<!-- 改英文的地方结束 -->
					<!--nav整合点-->
					<a href="#" class = "main-nav-center slide-shop">商店</a>
					<!-- 整合完毕！ -->
					<a href="#" class = "main-nav-center">杂志</a>
					<a href="#" class = "main-nav-center">分享</a>
					<a href="#" class = "main-nav-last">达人</a>
					<div class="form-group">
						<input type="text" name="">
						<button></button>
					</div>
				</div>
				<!--第一次整合吸顶效果-->
				<div class="blank">
				
				</div>
				<!--整合完毕-->
				<!-- 可以往这里面添加内容 -->





	

				<!-- 内容添加区完毕 -->
			</div>
			<div class = "main-bottom">
				<div class="bottom-center">
					<!-- "不完全"整合点 -->
					<img src="./../images/hand.png" id = "animate-hand">
					<a href="#">良仓商店&nbsp;/&nbsp;OUR&nbsp;SHOP</a>
					<!-- "不完全"整合点完毕 -->
				</div>
				<div class="bottom-bottom">
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom1.gif" alt="">
						<p>全球精品</p>
						<span>Global Selections</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom2.gif" alt="">
						<p>正品保证</p>
						<span>Authenticity Guaranteed</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom3.gif" alt="">
						<p>全场包邮</p>
						<span>Free Delivery Service</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom4.gif" alt="">
						<p>400-897-6336</p>
						<span>工作日 09:00-18:00</span>
					</div>
				</div>
			</div>
			<!-- 整合自邓浩 -->
			<!-- 底部 -->
		<div class="footer">
			<div class="wrap">
				<div class="food_top">
					<!-- 左 -->
					<a hrdf="" class="iphone">
						<div class="qr_code">
								<div class="code_left"></div>
								<div class="code_right"></div>
								<div class="downloads">
									<p class="p_left">下载iphone版</p>
									<p class="p_right">下载Android版</p>
								</div>
						</div>
						<div class="cellphone"></div>
						<p>ipone Android</p>
						<p class="download">客户端下载</p>
					</a>
					<!-- 右 -->
					<div class="procedure">
						<ul>
							<li><a class = "bean" href=""></a></li>
							<li><a class="sina" href=""></a></li>
							<li>
								<a class="wechat" href="">
									<div class="wechat_code"></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 下 -->
				<div class="foot_button">
					 <p class="toplink">
					 	<a href="/i/our/" target="_blank" class="first">关于良仓</a>
					 	<a href="/i/our/service/" target="_blank" rel="nofollow">服务协议</a>
					 	<a href="/i/our/law/" target="_blank" rel="nofollow">隐私保护政策</a>
					 	<a href="/i/our/help/" target="_blank" rel="nofollow">使用指南</a>
					 	<a href="/i/our/contact/" target="_blank" rel="nofollow">联系我们</a>
					 	<a href="http://www.lagou.com/gongsi/2236.html" target="_blank" rel="nofollow">加入我们</a>
					 	<a href="/i/our/flinks/" target="_blank" rel="nofollow">友情链接</a>
					 	<a href='javascript:;' onclick="showSendMsgWin('良仓',1640);" class='contactUs' id="last">私信良仓</a>
					 </p>
			        <p><span class="numLeFont">&copy;</span>&nbsp;2013-2015 北京良仓文化传播有限公司版权所有&nbsp;京<span class="numLeFont">ICP</span>备<span class="numLeFont">13010677</span>号<span class="numLeFont">-1</span>&nbsp;京公网安备<span class="numLeFont">11010502025627</span></p>
			        <p>&nbsp;&nbsp;公司名称：北京良仓文化传播有限公司&nbsp;&nbsp;电话：010-58263516</p>
			        <p>&nbsp;&nbsp;公司地址：北京朝阳区百子湾路32号6号楼1层60号.</p>
			        <p>&nbsp;&nbsp;社会信用统一代码：91110105059231575L&nbsp;&nbsp;食品许可证：JY11105160159557&nbsp;&nbsp;</p>
			        <p>&nbsp;&nbsp;图书证名称：中华人民共和国出版物经营许可证&nbsp;&nbsp;图书证编号：新出发京零 字第 朝 150051 号&nbsp;&nbsp;</p>
				</div>
			</div>
		</div>


			<!-- 整合完毕 -->
		</div>
	</div>
	<!-- 整合新的js -->
	<script type="text/javascript" src = "./../js/animate.js"></script>
	<script type="text/javascript" src = "./../js/newTemplate.js"></script>
	<!-- js整合完毕 -->
</body>
</html>