<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/商品列表.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="./../css/mainpage.css">
		<!--改动区域-->
		<link rel="stylesheet" type="text/css" href="./../css/newTemplate-bottom.css">
		<link rel="stylesheet" type="text/css" href="./../css/newTemplate.css">
		<!--改动完毕-->
	</head>
	
	<body>
		<!--第一次整合吸顶效果-->
			<div class="nav-blank"></div>
		<!--整合完毕-->
		<div class="nav">
			<div class="nav-head"></div>
			<div class="nav-right">
				<a href="登录.html" class = "nav-login">登陆</a>
				<a href="register.html" class = "nav-login">注册</a>
				<span>|</span>
				<a href="#" class = "chart">购物车
					<!-- 第二次改动内容 -->
						<div class="chart-wrapper">
						</div>
					<!-- 第二次改动完毕 -->
				</a>
				<span>|</span>
				<a href="#" class = "message">消息
					<ul>
						<li>
						<span>动态</span><span class = "nav-span2">0</span></li>
						<li><span>评论</span><span class = "nav-span2">0</span></li>
						<li><span>私信</span><span class = "nav-span2">0</span></li>
						<li><span>粉丝</span><span class = "nav-span2">0</span></li>
						<li><span>喜欢</span><span class = "nav-span2">0</span></li>
						<li><span>通知</span><span class = "nav-span2">0</span></li>
					</ul>
				</a>
				<span>|</span>
				<a href="#">添加良品</a>
			</div>
		</div>
		<!--新加入的nav下拉栏-->
			<div class="nav-slide">
				<div class="nav-slide-left">
				</div>
				<div class="nav-slide-right">
					<img src="./../images/nav/nav-slide-right.jpg">
					<p>新视线：<span>2017年7月刊</span></p>
				</div>
				<div class="nav-slide-bottom">
					<a href="#">查看所有品牌></a>
					<a href="#">最新到货></a>
				</div>	
			</div>

		<!-- nav下拉栏添加完毕-->
		<!---------------------内容----------------->
		<div class="bodyer">
			<div class="main-nav">
				<a href="#">首页</a>
				<a href="#" class = "main-nav-center slide-shop">商店</a>
				<a href="#" class = "main-nav-center">杂志</a>
				<a href="#" class = "main-nav-center">分享</a>
				<a href="#" class = "main-nav-last">达人</a>
				<div class="form-group">
					<input type="text" name="">
					<button></button>
				</div>
			</div>
			<!--第一次整合吸顶效果-->
				<div class="blank">
				
				</div>
			<!--整合完毕-->
			<ul class="options">
				<li>良仓</li>
				<li class = "arrow">></li>
				<li>商店</li>
				<li class="arrow">></li>
				<li>所有商品</li>
				<li class="arrow">></li>
			</ul>
			<div class = "osm_bar">
				<ul class="new_product">
					<li><a id = "new_products" href="">新品</a></li>
					<li><a href="">家居</a></li>
					<li><a href="">家具</a></li>
					<li><a href="">文具</a></li>
					<li><a href="">数码</a></li>
					<li><a href="">玩乐</a></li>
					<li><a href="">厨卫</a></li>
					<li><a href="">美食</a></li>
					<li><a href="">男装</a></li>
					<li><a href="">女装</a></li>
					<li><a href="">童装</a></li>
					<li><a href="">鞋包</a></li>
					<li><a href="">配饰</a></li>
					<li><a href="">美护</a></li>
					<li><a href="">户外</a></li>
					<li><a href="">植物</a></li>
					<li><a href="">图书</a></li>
					<li><a href="">艺术</a></li>
					<li><a href="">礼物</a></li>
					<li><a href="">推荐</a></li>
					<li><a href="">品牌</a></li>
				</ul>
				<div class="screening">
					价格筛选
					<span class="triangles"></span>
					<ul class="prices">
						<li><a class="change_color" href="">全部</a></li>
						<li><a href="">0-300</a></li>
						<li><a href="">301-1000</a></li>
						<li><a href="">1001-2000</a></li>
						<li><a href="">2001-4000</a></li>
						<li><a id = "last_one" href="">4001以上</a></li>
					</ul>
				</div>
			</div>	
			<!------------------图片列表------------------>
			<ul class="our_shop">
				<!--<li id = "firsts">
					<div class="commodity_picture">
						<a href="" class = "instruction">
							<p class = "popular-price">￥41.00</p>
							<h3 class = "popular-header">《知日：这就是三岛由纪夫》特辑|...</h3>
							<p class="popular-intro">专门关注日系内容的超人气品牌[知日ZHIJAPAN]推出知日特辑第四...</p>
						</a>
						<img class="big_graph" src="../images/254098.jpg"/>
						
					</div>
					<div class="bar">
						<a href="" class="brands"><img class="insets" src="../images/489.jpg"/>读小库</a>
						<a href="" class ="heart_shaped"></a>
					</div>
				</li>
				<li>
					<div class="commodity_picture">
						<a href="" class = "instruction">
							<p class = "popular-price">￥41.00</p>
							<h3 class = "popular-header">《知日：这就是三岛由纪夫》特辑|...</h3>
							<p class="popular-intro">专门关注日系内容的超人气品牌[知日ZHIJAPAN]推出知日特辑第四...</p>
						</a>
						<img class="big_graph" src="../images/254098.jpg"/>
						
					</div>
					<div class="bar">
						<a href="" class="brands"><img class="insets" src="../images/489.jpg"/>读小库</a>
						<a href="" class ="heart_shaped"></a>
					</div>
				</li>
				<li>
					<div class="commodity_picture">
						<a href="" class = "instruction">
							<p class = "popular-price">￥41.00</p>
							<h3 class = "popular-header">《知日：这就是三岛由纪夫》特辑|...</h3>
							<p class="popular-intro">专门关注日系内容的超人气品牌[知日ZHIJAPAN]推出知日特辑第四...</p>
						</a>
						<img class="big_graph" src="../images/254098.jpg"/>
						
					</div>
					<div class="bar">
						<a href="" class="brands"><img class="insets" src="../images/489.jpg"/>读小库</a>
						<a href="" class ="heart_shaped"></a>
					</div>
				</li>-->
			</ul>
			<!----------第几页--------------->
			<div class="pager">
				<a class="checked">1</a>
				<a class="checked" href="">2</a>
				<a class="checked" href="">3</a>
				<a class="next_page" href="">下一页</a>
				<p class="Jump_to">跳转到</p>
				<input type="text" class="pager_number" value="1" />
				<p>页</p>
				<a class="confirm" href="">确认</a>				
			</div>
		</div>	
		<!---------------良仓商品--------------------->
		<div class = "main-bottom">
				<div class="bottom-center">
					<img src="./../images/hand.png"  id = "animate-hand">
					<a href="#">良仓商店&nbsp;/&nbsp;OUR&nbsp;SHOP</a>
				</div>
				<div class="bottom-bottom">
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom1.gif" alt="">
						<p>全球精品</p>
						<span>Global Selections</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom2.gif" alt="">
						<p>正品保证</p>
						<span>Authenticity Guaranteed</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom3.gif" alt="">
						<p>全场包邮</p>
						<span>Free Delivery Service</span>
					</div>
					<div class="bottom-item top-45">
						<img src="./../images/junior-bottom4.gif" alt="">
						<p>400-897-6336</p>
						<span>工作日 09:00-18:00</span>
					</div>
				</div>
			</div>
		<!----------------底部--------------->
		<div class="footer">
			<div class="wrap">
				<div class="food_top">
					<!--------左--------->
					<a hrdf="" class="iphone">
						<div class="qr_code">
								<div class="code_left"></div>
								<div class="code_right"></div>
								<div class="downloads">
									<p class="p_left">下载iphone版</p>
									<p class="p_right">下载Android版</p>
								</div>
						</div>
						<div class="cellphone"></div>
						<p>ipone Android</p>
						<p class="download">客户端下载</p>
					</a>
					<!-------右------>
					<div class="procedure">
						<ul>
							<li><a class = "bean" href=""></a></li>
							<li><a class="sina" href=""></a></li>
							<li>
								<a class="wechat" href="">
									<div class="wechat_code"></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-------下-------->
				<div class="foot_button">
					 <p class="toplink">
					 	<a href="/i/our/" target="_blank" class="first">关于良仓</a>
					 	<a href="/i/our/service/" target="_blank" rel="nofollow">服务协议</a>
					 	<a href="/i/our/law/" target="_blank" rel="nofollow">隐私保护政策</a>
					 	<a href="/i/our/help/" target="_blank" rel="nofollow">使用指南</a>
					 	<a href="/i/our/contact/" target="_blank" rel="nofollow">联系我们</a>
					 	<a href="http://www.lagou.com/gongsi/2236.html" target="_blank" rel="nofollow">加入我们</a>
					 	<a href="/i/our/flinks/" target="_blank" rel="nofollow">友情链接</a>
					 	<a href='javascript:;' onclick="showSendMsgWin('良仓',1640);" class='contactUs' id="last">私信良仓</a>
					 </p>
			        <p>
			        	<span class="numLeFont">&copy;</span>
			        	&nbsp;2013-2015 北京良仓文化传播有限公司版权所有&nbsp;京
			        	<span class="numLeFont">ICP</span>备
			        	<span class="numLeFont">13010677</span>号
			        	<span class="numLeFont">-1</span>&nbsp;京公网安备
			        	<span class="numLeFont">11010502025627</span></p>
			        <p>&nbsp;&nbsp;公司名称：北京良仓文化传播有限公司&nbsp;&nbsp;电话：010-58263516</p>
			        <p>&nbsp;&nbsp;公司地址：北京朝阳区百子湾路32号6号楼1层60号.</p>
			        <p>&nbsp;&nbsp;社会信用统一代码：91110105059231575L&nbsp;&nbsp;食品许可证：JY11105160159557&nbsp;&nbsp;</p>
			        <p>&nbsp;&nbsp;图书证名称：中华人民共和国出版物经营许可证&nbsp;&nbsp;图书证编号：新出发京零 字第 朝 150051 号&nbsp;&nbsp;</p>
				</div>
			</div>
		</div>
		<!-- 整合新的js -->
		<script src="../js/myajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/商品列表ajax.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src = "./../js/animate.js"></script>
		<script type="text/javascript" src = "./../js/newTemplate.js"></script>
		<!-- js整合完毕 -->
	</body>
</html>
