<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/商品列表.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
	</head>
	<body>
		<div class="bodyer">
			<ul class="options">
				<li>良仓</li>
				<li class = "arrow">></li>
				<li>商店</li>
				<li class="arrow">></li>
				<li>所有商品</li>
				<li class="arrow">></li>
			</ul>
			<ul class="new_product">
				<li id="frist_product"><a href="">新品</a></li>
				<li><a href="">家居</a></li>
				<li><a href="">家具</a></li>
				<li><a href="">文具</a></li>
				<li><a href="">数码</a></li>
				<li><a href="">玩乐</a></li>
				<li><a href="">厨卫</a></li>
				<li><a href="">美食</a></li>
				<li><a href="">男装</a></li>
				<li><a href="">女装</a></li>
				<li><a href="">童装</a></li>
				<li><a href="">鞋包</a></li>
				<li><a href="">配饰</a></li>
				<li><a href="">美护</a></li>
				<li><a href="">户外</a></li>
				<li><a href="">植物</a></li>
				<li><a href="">图书</a></li>
				<li><a href="">艺术</a></li>
				<li><a href="">礼物</a></li>
				<li><a href="">推荐</a></li>
				<li><a href="">品牌</a></li>
			</ul>
		</div>
	</body>
</html>
