<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/登录.css"/>
	</head>
	<body>
		<div class="the_login">
			<a href="" class="big_logo"></a>
			<div class="mobile_phone">
				<span class="iphone_picture"></span>
				<input type="text" class="inputting" value="输入手机号" />
				
			</div>
			<div class="verification_code">
				<div class = "Input_box">
					<span class = "backdrop"></span>
					<input type="text" class="auth_code" value="输入验证码" />
				</div>
				<a href="" class = "acquiring">获取验证码</a>
			</div>
			<div class="automatic">
				<input type="radio" class="automatic_login" name="radiobutton" value="radiobutton" checked>
				<p class="automatic_logins">自动登录</p> 
			</div>
			<a href="" class="btm">登录</a>
			<a href="" class="mores">更多登录方式></a>
		</div>
	</body>
</html>
